/* controller.css */

.controller-container {
    font-style:italic;
    border-radius: 15%;
    background-color: #aca7a7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 40%;
    height: 50%;
    transition: background-color 0.3s ease; 
  }
  
  h2 {
    color: #333;
  }
  
  .options-container {
    display: flex;
    flex-direction: column;
  }
  
  .option-button {
    /* width: 50%; */
    margin: 8px 0;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #0c0f0c;
    color: white;
    border-radius: 4px;
  }
  
  .option-button.selected {
    background-color: #919aa5;
  }